/storage-handlers
/activemq-data
/mapred
/metastore_db
/.arc_jira_lib
/.classpath
/.externalToolBuilders
/.project
/.settings
/build
/.idea/
/logs
/target
/webhcat/java-client/build
/webhcat/java-client/metastore_db
/src/docs/build
/ivy/ivy-2.1.0.jar
/webhcat/java-client/derby.log
/*.log
*.iml
*.orig
*~